<h1>New Job Posting</h1>

<% if @posting.errors.any? %>
  <ul>
    <% @posting.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:alert] %>
  <div class="flash alert">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<%= render "form" %>




